.reveal section.title h1 {
    text-transform: none;
}

.reveal .small {
   font-size: 32px;
}

.reveal section[data-state="complex"] p {

   line-height: 1.0;
}

.reveal .blue  {

   color: cornflowerblue;
}

.reveal .left  {

   text-align: left;
}

.reveal .underline  {

   text-decoration: underline;
}

.reveal .dark-background  {

   margin: 10px;
   background-color: black;
}